  body{
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.7;
    color: var(--text-color);
    background: var(--bg-color);
    overflow-x: hidden;
    
  }
div.members {
  background-color: #daf5ff;
  padding: 100px;
}

.main_description {
  padding: 100px;
}

h1 {
  padding: 50px;
}

.images {
  background-color: #01adf9;
  padding: 100px;
}

#imageSlider {
  width: 70%;
  height: 70%;
}



